@use "../styles/base.scss" as styles;

$mobile-spacing-width: styles.px-to-rem(30);
$desktop-spacing-width: styles.px-to-rem(100);

.wrapper {
  background-color: styles.$onyx;
}

.container {
  flex-flow: column;
  padding: {
    top: styles.px-to-rem(30);
    bottom: styles.px-to-rem(30);
  }

  @include styles.breakpoint(max-width, mobile) {
    width: calc(100% - $mobile-spacing-width);
  }

  @include styles.breakpoint(min-width, mobile) {
    height: 100vh;
    width: calc(100% - $desktop-spacing-width);
  }
}

.heading,
.text {
  color: styles.$white;
}

.heading {
  font-family: styles.$font-sketch-bold;
  font-size: styles.px-to-rem(150);
  line-height: styles.px-to-rem(156);
}

.text {
  font-family: styles.$font-ubuntu;
  font-size: styles.px-to-rem(22);
  line-height: styles.px-to-rem(30);
}

.buttonWrapper {
  @include styles.breakpoint(max-width, mobile) {
    flex-flow: column;
  }
}

.button {
  border: 1px solid styles.$vivid-cerise;
  color: styles.$white;
  background-color: styles.$vivid-cerise;
  transition: all 0.3s ease-in-out;

  &:hover {
    .icon {
      transform: rotate(45deg);
    }
  }

  &:first-child {
    @include styles.breakpoint(min-width, mobile) {
      margin-right: styles.px-to-rem(20);
    }
  }

  .icon {
    transition: transform 0.3s ease-in-out;
  }
}
